<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514880446663-jmur7iakai5gt50sq66plpqkcpvjcvp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514880446663-jmur7iakai5gt50sq66plpqkcpvjcvp9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>514880446663-3cm6nogumc8pujtk9hrjcbip36et7mbl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDX5weReSFUvElREGjfCVTN7KkNtsYjfRU</string>
	<key>GCM_SENDER_ID</key>
	<string>514880446663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.glotek</string>
	<key>PROJECT_ID</key>
	<string>glotek-20d1d</string>
	<key>STORAGE_BUCKET</key>
	<string>glotek-20d1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514880446663:ios:ab108b03a662f2c1b89ee2</string>
</dict>
</plist>